
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>Register Form</h2>
        <br />
        @using (Html.BeginForm("ProcessRegister", "Users", FormMethod.Post))
        {
            <div class="row input-group">
                <div class="col-md-5">
                    <label>Full Name</label>
                    <input type="text" name="fullName" value="" />
                </div>
            </div>
            <br />
            <div class="row input-group">
                <div class="col-md-5">
                    <label>Email</label>
                    <input type="text" name="email" value="" />
                </div>
            </div>
            <br />
            <div class="row input-group">
                <div class="col-md-5">
                    <label>UserName</label>
                    <input type="text" name="userName" value="" />
                </div>
            </div>
            <br />
            <div class="row input-group">
                <div class="col-md-5">
                    <label>Password</label>
                    <input type="password" name="password" value="" />
                </div>
            </div>
            <br />
            <div class="row input-group">
                <div class="col-md-5">
                    <label>Number Phone</label>
                    <input type="number" name="phoneNumber" value="" />
                </div>
            </div>
            <br />
            <div class="row input-group">
                <div class="col-md-5">
                    <input type="submit" name="Submit" value="submit" />
                </div>
            </div>


        }
    </div>
    <div class="col-md-4"></div>
    <br />
   

</div>
@Html.ActionLink("Login", "Login", "Users")


